<div >
    <div>
    <nav class = "navbar navbar-fixed-top navbar-inverse">
        <div class = "container-fluid">
                <p class = "navbar pull-right">
                    <a class = "glyphicon " style = "text-decoration: none"
                       href = "#/login">
                        Login</a>
                 <a class = "glyphicon l-pad" style = "text-decoration: none"
                 href = "#/register">Register</a>
                </p>
        </div>
    </nav>
</div>



