body{
    font-family: 'Roboto Slab', serif;
    background-color: whitesmoke;
}

.mugshot
{
    width: 120px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-card
{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: silver;
    padding: 5px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-footer
{
    background-color: gainsboro;
}

.nav-text
{
    color: whitesmoke;
}

