<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <a class="navbar-brand naviBar" href="#/login">
                Login
            </a>
            <a class="navbar-brand naviBar l-pad" href="#/register">
                Register
            </a>
        </div>

        <div class="navbar-header center">
            <a class="navbar-brand naviBar" href="#/home">
                Congress Tracker
            </a>
        </div>
    </div>

</nav>
<div>
    <img src= "https://upload.wikimedia.org/wikipedia/commons/6/64/Capitol_at_Dusk_2.jpg" class="backimg img-responsive">
</div>
<div class="wrap pushDown">
    <div class="tile">
        <img src='https://upload.wikimedia.org/wikipedia/commons/9/90/United_States_House_of_Representatives_chamber.jpg'/>
        <div class="text">
            <h1 class="animate-text">My Representative</h1>
            <h2 class="animate-text">Learn more about your representative and their activity in Congress. </h2>
            <h3 class="animate-text">
                <a href="#/guest/search">Try our search</a>
            </h3>
            <h3 class="animate-text">
                <a href="#/login">Sign up now</a>
            </h3>
        </div>
    </div>


    <div class="tile">
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Bill_of_Rights_Pg1of1_AC.jpg/451px-Bill_of_Rights_Pg1of1_AC.jpg'/>
        <div class="text">
            <h1 class="animate-text">Bill Track</h1>
            <h2 class="animate-text">Want to know more about already passed and upcoming bills?</h2>
            <h3 class="animate-text">
                <a href="#/guest/search">Try our search</a>
            </h3>
            <h3 class="animate-text">
                <a href="#/login">Sign up now</a>
            </h3>

        </div>
    </div>
</div>

    <h1>&nbsp</h1>
    <h1>&nbsp</h1>

    <nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right l-pad">
                <a class="nav-text" href="https://www.linkedin.com/in/chandan-shankarappa-21a6b7136" target="_blank">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>
            <div class="navbar-text pull-right l-pad">
                <p>Chandan Shankarappa</p>
            </div>
            <div class="navbar-text pull-right l-pad">
                <a class="nav-text" href="#" target="_blank">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>
            <div class="navbar-text pull-right l-pad">
                <p>Aditya Sridhar</p>
            </div>
            <div class="navbar-text pull-left">
                <p>Creators :</p>
            </div>
        </div>
    </nav>

</div>