<div class="wrap">
    <div class="tile">
        <img src='https://gdb.voanews.com/9D7D4E06-1C5A-47D5-88F0-6DE9B5AB1789_w1023_r1_s.jpg'/>
        <div class="text">
            <h1 >Congress Track</h1>
            <h2 class="animate-text">Track your representatives. Learn about the bills that they have sponsored. </h2>
            <p class="animate-text">
                <a href="#/login" style="color : purple">Sign up now</a>
            </p>
        </div>
    </div>


    <div class="tile">
        <img src='https://nwcci.files.wordpress.com/2014/02/washington-dc.jpg'/>
        <div class="text">
            <h1>Bill Track</h1>
            <h2 class="animate-text">Keep track of already passed and upcoming bills. Search for them using our search bar.</h2>
            <p class="animate-text">
                <a href="#/login" style="color : purple">Sign up now</a>
            </p>
        </div>
    </div>

    <div class="tile">
        <img src='https://image.slidesharecdn.com/2762-160629121938/95/united-states-of-americafull-1080p-pics-6-638.jpg?cb=1468052599'/>
        <div class="text">
            <h2 class="animate-text">Some trivia.</h2>
        </div>
    </div>
</div>


</div>