<!--<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-text pull-left">-->
            <!--<a class="nav-text" href="#/user/{{model.userId}}">-->
                <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-text">-->
            <!--<a class="nav-text" href="#/user/{{model.userId}}">-->
                <!--<span class="fa fa-user-o"></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-text">-->
            <!--<a class="nav-text" href="#/user/{{model.userId}}/fave">-->
                <!--<span class="fa fa-star-o"></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-header navbar-text">-->
            <!--<a class="navbar-brand nav-text" href="#/user/{{model.userId}}/district">-->
                <!--My District-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="navbar-text">-->
            <!--<a class="nav-text" href="#/user/{{model.userId}}/search">-->
                <!--<span class="fa fa-search"></span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-right">
                <a  href="#/user/{{model.userId}}/search" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </a>
                <a  href="#/user/{{model.userId}}/fave" class="navbar-link naviBar l-pad">
                    <span class="glyphicon glyphicon-star-empty">
                    </span>
                </a>
            </p>
        </div>
        <div>
            <p class = "navbar-text pull-left">
                <a href = "#/user/{{model.userId}}" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand naviBar">
                My District
            </a>
        </div>
    </div>

</nav>

<div class = "pushDown2 listHandler">
<div class="container">
    <div class="card w-50 text-center profile-card" style="width: 20rem;">
        <img class="card-img-top mugshot" ng-src="{{model.repPhoto}}" alt="Card image cap">
        <i ng-class="{'fa fa-star': model.liked, 'fa fa-star-o': !model.liked}" ng-click="model.changeClass(model.rep.name, model.rep.bioguide)"></i>
        <div class="card-block">
            <h4 class="card-title">{{model.rep.name}}</h4>

            <h6>Party: {{model.rep.party}}</h6>
            <h6>Term: {{model.rep.term}}</h6>
            <h6>Office: {{model.rep.office}}</h6>
            <h6>Phone: {{model.rep.phone}}</h6>
        </div>
        <div class="card-footer profile-footer">
            <a class="btn btn-primary" href="{{model.rep.twitter}}" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="{{model.rep.facebook}}" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-danger" href="{{model.rep.website}}" target="_blank">
                <i class="fa fa-user-circle-o"></i>
            </a>
        </div>
    </div>

    <br>

    <h4 class="text-center">Committees</h4>
    <ul class="list-group">
        <li ng-repeat="committee in model.committees" class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="mb-1">{{committee.name}}</p>
        </li>
    </ul>

    <br>

    <h4 class="text-center">Sponsored Bills</h4>
    <ul class="list-group">
        <li ng-repeat="bill in model.sponsored_bills" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <a class="mb-1" href="{{bill.urls.congress}}" target="_blank">{{bill.bill_id}}</a>
                <small>Introduced on {{bill.introduced_on}}</small>
            </div>
            <p class="mb-1">{{bill.official_title}}</p>
            <div>
                <button type="button"
                        id="testBtn"
                        ng-click="model.registerVote('Upvote', bill.bill_id)"
                        class="btn btn-success fa fa-thumbs-up"
                        data-loading-text=" ... "><p ng-show="model.bil[bill.bill_id]">{{model.bil[bill.bill_id].upvote}}</p></button>
                <button type="button" id="testBtnDown"
                        ng-click="model.registerVote('Downvote', bill.bill_id)"
                        class="btn btn-success fa fa-thumbs-down" data-loading-text=" ... ">
                    <p ng-show="model.bil[bill.bill_id]">{{model.bil[bill.bill_id].downvote}}</p>
                    </button>
            </div>
        </li>
    </ul>
</div>
</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="nav-text" ng-click="model.unregisterUser()">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="nav-text" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>