<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/search" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </a>
                <a href="#/user/{{model.userId}}/fave" class="navbar-link naviBar l-pad">
                    <span class="glyphicon glyphicon-star-empty">
                    </span>
                </a>
            </p>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand naviBar">
                Profile
            </a>
        </div>
    </div>

</nav>

<div class="container-fluid website-list pushDown listHandler">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <h1>Profile</h1>

    <label for="username">Username</label>
    <input ng-model="model.user.username" id="username" class="form-control" type="text" placeholder="Neo"/>

    <label for="email">Email</label>
    <input id="email" ng-model="model.user.email" class="form-control" type="email"
           placeholder="neo@enterthematix.com"/>

    <label for="first">First Name</label>
    <input ng-model="model.user.firstName" id="first" class="form-control" type="text" placeholder="Keanu"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName" id="last" class="form-control" type="text" placeholder="Reeves"/>

    <label for="address">Address</label>
    <input ng-model="model.user.address" id="address" class="form-control" type="text" placeholder="Address"/>

    <label for="phone">Phone</label>
    <input ng-model="model.user.phone" id="phone" class="form-control" type="tel" placeholder="(555) 555-5555"/>

    <br>
    <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/district">
        My District
    </a>

    <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/fave">
        My Favorites
    </a>

    <a ng-show="model.user.role == 'ADMIN'" class="btn btn-primary btn-block" href="#/admin/{{model.user._id}}">
        Admin Dashboard
    </a>
    <br>
    <a class="btn btn-danger btn-block" ng-click="model.logout()">
        Logout
    </a>
</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="nav-text" ng-click="model.unregisterUser()">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="nav-text" href="#/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>