<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/search" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </a>
                <a href="#/user/{{model.userId}}/fave" class="navbar-link naviBar l-pad">
                    <span class="glyphicon glyphicon-star-empty">
                    </span>
                </a>
            </p>
        </div>
        <div>
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/fave" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand naviBar">
                Search
            </a>
        </div>
    </div>

</nav>

<div class="container website-list pushDown3 listHandler">
    <div class="row">
        <div class="text-center">
            <label for="rep-search">Know your Representative</label>
            <div class="row">
                <div class="col-sm-11 form-group">
                    <input ng-model="model.repSearchText" type="search" class="form-control"
                           id="rep-search"
                           placeholder="360 Huntington Avenue, Boston, MA"/>
                </div>
                <div class="col-sm-1 form-group">
                    <a class="btn btn-primary " ng-click="model.searchRep()">
                        <span class="fa fa-search"></span>
                    </a>
                </div>
            </div>

            <label for="bill-search">Search for a bill in the U.S. House of Representatives</label>
            <div class="row">
                <div class="col-sm-11 form-group">
                    <input ng-model="model.billSearchText" type="search" class="form-control"
                           id="bill-search"
                           placeholder="Health Care Reform"/>
                </div>
                <div class="col-sm-1 form-group">
                    <a class="btn btn-primary" ng-click="model.searchBill()">
                        <span class="fa fa-search"></span>
                    </a>
                </div>
            </div>

            <label for="user-search">Search for a user you want to connect with.</label>
            <div class="row">
                <div class="col-sm-11 form-group">
                    <input ng-model="model.userSearchText" type="search" class="form-control"
                           id="user-search"
                           placeholder="Username"/>
                </div>
                <div class="col-sm-1 form-group">
                    <a class="btn btn-primary" ng-click="model.searchUser()">
                        <span class="fa fa-search"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel w-50 profile-card" ng-show="model.hasRepSearchResults">
            <li class="media list-group-item">
                <img ng-src="{{model.repPhoto}}" alt="" class="img-circle mugshot">
                <div class="media-body">
                    <a href="#/user/{{model.userId}}/pol/{{model.rep.bioguide}}">
                        <strong class="text-success">{{model.rep.name}}</strong>
                    </a>
                    <p>
                        Represents Congressional District {{model.rep.district}} of the state of {{model.rep.state}}
                    </p>
                </div>
            </li>
        </div>

        <ul ng-show="model.hasBillSearchResults" class="panel w-50 profile-card list-group">
            <li ng-repeat="bill in model.bills"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <a class="mb-1" href="{{bill.urls.congress}}" target="_blank">{{bill.bill_id}}</a>
                    <small>Introduced on {{bill.introduced_on}}</small>
                </div>
                <p class="mb-1">{{bill.official_title}}</p>
                <div>
                    <button type="button"
                            id="testBtn"
                            ng-click="model.registerVote('Upvote', bill.bill_id)"
                            class="btn btn-success fa fa-thumbs-up"
                            data-loading-text=" ... "><p ng-show="model.bil[bill.bill_id]">{{model.bil[bill.bill_id].upvote}}</p></button>
                    <button type="button" id="testBtnDown"
                            ng-click="model.registerVote('Downvote', bill.bill_id)"
                            class="btn btn-success fa fa-thumbs-down" data-loading-text=" ... ">
                        <p ng-show="model.bil[bill.bill_id]">{{model.bil[bill.bill_id].downvote}}</p>
                    </button>
                </div>
            </li>
        </ul>

        <div class="panel w-50 profile-card" ng-show="model.hasUserSearchResults">
            <li class="media list-group-item" ng-repeat="user in model.users">
                <div class="media-body">
                    <a href="#/user/{{model.userId}}/fuser/{{user._id}}">
                        <strong class="text-success">{{user.username}}</strong>
                    </a>
                </div>
            </li>
        </div>
    </div>

</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="nav-text" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>