<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div>
            <p class="navbar-text pull-right">
                <a  href="#/user/{{model.userId}}/search" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </a>
                <a  href="#/user/{{model.userId}}/fave" class="navbar-link naviBar l-pad">
                    <span class="glyphicon glyphicon-star-empty">
                    </span>
                </a>
            </p>
        </div>
        <div>
            <p class = "navbar-text pull-left">
                <a href = "#/user/{{model.userId}}/fave" class="navbar-link naviBar">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand naviBar">
                {{model.fname}}
            </a>
        </div>
    </div>

</nav>

<div class = "pushDown3 listHandler">
    <h1>{{model.fname}}
        <i ng-class="{'fa fa-star': model.liked, 'fa fa-star-o': !model.liked}" ng-click="model.changeClass(model.fuser.username, model.fuser._id)"></i>
    </h1>
    <h2> Politicians</h2>

    <div class="container-fluid">
        <ul class="list-group">
            <li ng-repeat="fave in model.lofp" class="list-group-item">
                <a href="#/user/{{model.userId}}/pol/{{fave.bioguide}}"
                   style = "text-decoration: none">
                    {{fave.name}}
                </a>
            </li>
        </ul>
    </div>

</div>

<div class = "pushDown3 listHandler">
    <h2> Users</h2>

    <div class="container-fluid">
        <ul class="list-group">
            <li ng-repeat="fave in model.lofu" class="list-group-item">
                <a href="#/user/{{model.userId}}/fuser/{{fave.fuserId}}"
                   style = "text-decoration: none">
                    {{fave.name}}
                </a>
            </li>
        </ul>
    </div>

</div>


<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="nav-text" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

