<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <a class="navbar-brand naviBar" href="#/login">
                Login
            </a>
            <a class="navbar-brand naviBar l-pad" href="#/register">
                Register
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand naviBar">
                {{model.polName}}
            </a>
        </div>
    </div>

</nav>

<div ng-show="model.errorClass" class="alert alert-danger pushDown4" role="alert">
    {{model.errorClass}}
</div>


<div class="container pushDown3 listHandler">
    <div class="card w-50 text-center profile-card" style="width: 20rem;">
        <img class="card-img-top mugshot" ng-src="{{model.repPhoto}}" alt="Card image cap">
        <i ng-class="{'fa fa-star': model.liked, 'fa fa-star-o': !model.liked}" ng-click="model.changeClass()"></i>
        <div class="card-block">
            <h4 class="card-title">{{model.polName}}</h4>

            <h6>Party: {{model.rep.party}}</h6>
            <h6>Term: {{model.rep.term}}</h6>
            <h6>Office: {{model.rep.office}}</h6>
            <h6>Phone: {{model.rep.phone}}</h6>
        </div>
        <div class="card-footer profile-footer">
            <a class="btn btn-primary" href="{{model.rep.twitter}}" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="{{model.rep.facebook}}" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-danger" href="{{model.rep.website}}" target="_blank">
                <i class="fa fa-user-circle-o"></i>
            </a>
        </div>
    </div>

    <br>

    <h4 class="text-center">Committees</h4>
    <ul class="list-group">
        <li ng-repeat="committee in model.committees" class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="mb-1">{{committee.name}}</p>
        </li>
    </ul>

    <br>

    <h4 class="text-center">Sponsored Bills</h4>
    <ul class="list-group">
        <li ng-repeat="bill in model.sponsored_bills" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <div ng-show="model.errorVote[bill.bill_id]" class="alert alert-danger" role="alert">
                    {{model.errorVote[bill.bill_id]}}
                </div>
                <a class="mb-1" href="{{bill.urls.congress}}" target="_blank">{{bill.bill_id}}</a>
                <small>Introduced on {{bill.introduced_on}}</small>
            </div>
            <p class="mb-1">{{bill.official_title}}</p>
            <div>
                <button type="button"
                        id="testBtn"
                        ng-click="model.registerVote(bill.bill_id)"
                        class="btn btn-success fa fa-thumbs-up"
                        data-loading-text=" ... "><p ng-show="model.bil[bill.bill_id]">{{model.bil[bill.bill_id].upvote}}</p></button>
                <button type="button" id="testBtnDown"
                        ng-click="model.registerVote(bill.bill_id)"
                        class="btn btn-success fa fa-thumbs-down" data-loading-text=" ... ">
                    <p ng-show="model.bil[bill.bill_id]">{{model.bil[bill.bill_id].downvote}}</p>
                </button>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right l-pad">
            <a class="nav-text" href="https://www.linkedin.com/in/chandan-shankarappa-21a6b7136" target="_blank">
                <span class="fa fa-linkedin"></span>
            </a>
        </div>
        <div class="navbar-text pull-right l-pad">
            <p>Chandan Shankarappa</p>
        </div>
        <div class="navbar-text pull-right l-pad">
            <a class="nav-text" href="#" target="_blank">
                <span class="fa fa-linkedin"></span>
            </a>
        </div>
        <div class="navbar-text pull-right l-pad">
            <p>Aditya Sridhar</p>
        </div>
        <div class="navbar-text pull-right l-pad">
            <p>Creators :</p>
        </div>
    </div>
</nav>